<div class="login">
	<h3 class="section">Sign Up</h3>

	<%= form_for(@user) do |f| %>

	    <table class="login-signup-table">
			<tr>
				<td><%= f.label :username, "Username:", class: "label" %></td>
				<td><%= f.text_field :username %></td>
			</tr>
			
			<tr>
				<td><%= f.label :password, "Password:", class: "label" %></td>
				<td><%= f.password_field :password %></td>
			</tr>
		</table>
	      
	    <span><%= f.submit "Sign up", class: "btn btn-primary" %>
	<% end %>
	<%= link_to "Cancel", url_for(:back), class: "btn btn-primary" %></span>
</div>
